body {
    text-align: center;
    background-color: #f0e8c5;

}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}

h1 {
    background-color: red;
    color: black;
    font-size: 40px;
}

h2 {
    background-color: red;
    color: black;
    font-size: 40px;
}
